---
import Layout from '../layouts/Layout.astro';
import InfiniteMenu from '../components/InfiniteMenu.jsx';

const metadata = {
  title: 'Proyectos - AIRconsulting',
  description: 'Descubre nuestros proyectos destacados en desarrollo web, marketing digital y diseño.',
};

const items = [
  {
    image: '/images/retorica.png',
    previewImage: '/images/mockupretorica.jpg',
    link: 'https://www.retorica.cl',
    title: 'Retórica',
    description: 'Un diseño que habla por sí mismo'
  },
  {
    image: '/images/cnn.png',
    previewImage: '/images/cnn.png',
    link: '#',
    title: 'CNN Chile',
    description: 'Cobertura informativa nacional'
  },
  {
    image: '/images/agenda.png',
    previewImage: '/images/agenda.png',
    link: '#',
    title: 'Agenda A.',
    description: 'Información especializada del sector agrícola'
  },
  {
    image: '/images/noticia.png',
    previewImage: '/images/noticia.png',
    link: '#',
    title: 'EEN, UCVTV',
    description: 'Noticias de contingencia Nacional'
  },
  {
    image: '/images/modellogo.png',
    previewImage: '/images/modellogo.png',
    link: '#',
    title: 'MDesktop',
    description: 'Agencia de Onlyfans'
  }
];
---

<Layout metadata={metadata}>
  <div style={{ height: '100vh', position: 'relative' }}>
    <InfiniteMenu items={items} client:load />
  </div>
</Layout>
